<f:render partial="formErrors" />

	
	<div class="palette-header">
		<strong>Factory settings</strong><br>
		<span class="t3-form-palette-field-container">
			<label for="tx-mobilefactory-title"><f:translate key="property.name">[name]</f:translate>:</label>
			<span class="t3-form-palette-field class-main5">
			
				<f:form.textfield property="name" id="tx-mobilefactory-name"/>
			</span>
		</span>	
		<br>		
		<span class="t3-form-palette-field-container">
			<label for="tx-mobilefactory-author"><f:translate key="property.author">[author]</f:translate>:</label>
			<span class="t3-form-palette-field class-main5">
				<f:form.textfield property="author" id="tx-mobilefactory-author" />
			</span>	
		</span>
		<br>
		<span class="t3-form-palette-field-container">
			<label for="tx-mobilefactory-company"><f:translate key="property.company">[company]</f:translate>:</label>
			<span class="t3-form-palette-field class-main5">
				<f:form.textfield property="company" id="tx-mobilefactory-company"/>
			</span>	
		</span>
		<br>
		<span class="t3-form-palette-field-container">
			<label for="tx-mobilefactory-www"><f:translate key="property.www">[www]</f:translate>:</label>
			<span class="t3-form-palette-field class-main5">
				<f:form.textfield property="www" id="tx-mobilefactory-www"/>
			</span>	
		</span>
		<br>
		<span class="t3-form-palette-field-container">
			<label for="tx-mobilefactory-support"><f:translate key="property.support">[support]</f:translate>:</label>
			<span class="t3-form-palette-field class-main5">
				<f:form.textfield property="support" id="tx-mobilefactory-support"/>
			</span>	
		</span>
	</div>
