<div class="typo3-fulldoc">
	<div id="typo3-docheader">
		<div id="typo3-docheader-row1">
			<div class="buttonsleft">
				<div class="buttongroup">
					<f:be.buttons.icon uri="<f:uri.action action='{closeAction}' controller='{closeController}' arguments='{factory: factory,app: app}'/>" icon="closedok" title="cancel" />
				</div>
				<div class="buttongroup">
					<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-save"><input type="image" title="Save app" src="clear.gif" class="c-inputButton" name="_savedok"></span>
				</div>
			</div>		
		</div>
		<div id="typo3-docheader-row2">
			<span style="float:right"><b>path:</b>{factory.name}/{app.name}</span>
		</div>
	</div>	
</div>