<f:be.container
  pageTitle="Build Apps"
  enableJumpToUrl="false"
  enableClickMenu="false"
  loadPrototype="false"
  loadScriptaculous="false"
  loadExtJs="true"
  loadExtJsTheme="false"
  extJsAdapter="jQuery"
  enableExtJsDebug="false">

	<f:form action="updateFactory" controller="BuildApps" objectName="factory" object="{factory}" method="post">
	<f:render partial="moduleFormHeader" arguments="{closeAction: 'list', factory: factory, app: app}"/>
	<div id="typo3-docbody">
		<div id="typo3-inner-docbody">
			<h2>Edit factory: {factory.name}"</h2>
			<f:render partial="factoryForm" />
		</div>
	</div>
	</f:form>
	
	
</f:be.container>