<f:be.container
  pageTitle="Build Apps"
  enableJumpToUrl="false"
  enableClickMenu="false"
  loadPrototype="false"
  loadScriptaculous="false"
  loadExtJs="true"
  loadExtJsTheme="false"
  extJsAdapter="jQuery"
  enableExtJsDebug="false">

	
	<f:form enctype="multipart/form-data" action="updateApp" controller="BuildApps" objectName="app" object="{app}" arguments="{factoryx: factory}" method="post">
		<f:render partial="moduleFormHeader" arguments="{closeAction: 'status', closeController: 'Build', factory: factory, app: app}"/>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<h2><f:translate key="LLL:EXT:mobileappfactory/Resources/Private/Language/locallang_mod.xml:editApp" /> "{app.name}"</h2>
					<f:render partial="appForm" arguments="{app: app}"/>
			</div>
		</div>
	</f:form>
</f:be.container>